  /* ===== Colors ===== */
$color-primary : #006494;
$color-secundary:  #13293D;
$color-secundary-light:  #13293dc9;
$color-tertiary:  #247BA0;
$color-quaternary: #1B98E0;

$color-white: #fff;
$color-black: #000;
$color-gray:#707070;
$color-gray-variant:#DDD;
$bg-black:#222320;

    /* ====== Transition ====== */
$tran-03: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.3s ease;
$tran-05: all 0.3s ease;


 
